# Clustering with K-Means

In [2]:
import pandas as pd
import sklearn

## Load Post Processing Data

In [50]:
# load from data

files_categories = {
    'Kasus Harian' :  'Kasus Harian_post_processing.csv',
    'Kasus Aktif' :  'Kasus Aktif_post_processing.csv',
    'Sembuh Harian' :  'Sembuh Harian_post_processing.csv',
    'Sembuh' :  'Sembuh Harian_post_processing.csv',
    'Meninggal Dunia Harian' :  'Meninggal Dunia Harian_post_processing.csv',
    'Meninggal Dunia' :  'Meninggal Dunia_post_processing.csv',
    'Total Case' :  'Total Case_post_processing.csv'
}

df_categories = {}
for category in files_categories:
    # get the value
    csv_file_name = "../data/{}".format(files_categories[category])

    # load data
    df_categories[category] = pd.read_csv(csv_file_name)
    del df_categories[category]['Time'] # Remove Time
    df_categories[category].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 357 entries, 0 to 356
Data columns (total 34 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Aceh       357 non-null    int64
 1   Bali       357 non-null    int64
 2   Banten     357 non-null    int64
 3   Babel      357 non-null    int64
 4   Bengkulu   357 non-null    int64
 5   DIY        357 non-null    int64
 6   Jakarta    357 non-null    int64
 7   Jambi      357 non-null    int64
 8   Jabar      357 non-null    int64
 9   Jateng     357 non-null    int64
 10  Jatim      357 non-null    int64
 11  Kalbar     357 non-null    int64
 12  Kaltim     357 non-null    int64
 13  Kalteng    357 non-null    int64
 14  Kalsel     357 non-null    int64
 15  Kaltara    357 non-null    int64
 16  Kep Riau   357 non-null    int64
 17  NTB        357 non-null    int64
 18  Sumsel     357 non-null    int64
 19  Sumbar     357 non-null    int64
 20  Sulut      357 non-null    int64
 21  Sumut      357 non-null    int64
 22  Sultra     357 non-null    int64
 23  Sulsel     357 non-null    int64
 24  Sulteng    357 non-null    int64
 25  Lampung    357 non-null    int64
 26  Riau       357 non-null    int64
 27  Malut      357 non-null    int64
 28  Maluku     357 non-null    int64
 29  Papbar     357 non-null    int64
 30  Papua      357 non-null    int64
 31  Sulbar     357 non-null    int64
 32  NTT        357 non-null    int64
 33  Gorontalo  357 non-null    int64
dtypes: int64(34)
memory usage: 95.0 KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 351 entries, 0 to 350
Data columns (total 34 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Aceh       351 non-null    int64
 1   Bali       351 non-null    int64
 2   Banten     351 non-null    int64
 3   Babel      351 non-null    int64
 4   Bengkulu   351 non-null    int64
 5   DIY        351 non-null    int64
 6   Jakarta    351 non-null    int64
 7   Jambi      351 non-null    int64
 8   Jabar      351 non-null    int64
 9   Jateng     351 non-null    int64
 10  Jatim      351 non-null    int64
 11  Kalbar     351 non-null    int64
 12  Kaltim     351 non-null    int64
 13  Kalteng    351 non-null    int64
 14  Kalsel     351 non-null    int64
 15  Kaltara    351 non-null    int64
 16  Kep Riau   351 non-null    int64
 17  NTB        351 non-null    int64
 18  Sumsel     351 non-null    int64
 19  Sumbar     351 non-null    int64
 20  Sulut      351 non-null    int64
 21  Sumut      351 non-null    int64
 22  Sultra     351 non-null    int64
 23  Sulsel     351 non-null    int64
 24  Sulteng    351 non-null    int64
 25  Lampung    351 non-null    int64
 26  Riau       351 non-null    int64
 27  Malut      351 non-null    int64
 28  Maluku     351 non-null    int64
 29  Papbar     351 non-null    int64
 30  Papua      351 non-null    int64
 31  Sulbar     351 non-null    int64
 32  NTT        351 non-null    int64
 33  Gorontalo  351 non-null    int64
dtypes: int64(34)
memory usage: 93.4 KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 351 entries, 0 to 350
Data columns (total 34 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Aceh       351 non-null    int64
 1   Bali       351 non-null    int64
 2   Banten     351 non-null    int64
 3   Babel      351 non-null    int64
 4   Bengkulu   351 non-null    int64
 5   DIY        351 non-null    int64
 6   Jakarta    351 non-null    int64
 7   Jambi      351 non-null    int64
 8   Jabar      351 non-null    int64
 9   Jateng     351 non-null    int64
 10  Jatim      351 non-null    int64
 11  Kalbar     351 non-null    int64
 12  Kaltim     351 non-null    int64
 13  Kalteng    351 non-null    int64
 14  Kalsel     351 non-null    int64
 15  Kaltara    351 non-null    int64
 16  Kep Riau   351 non-null    int64
 17  NTB        351 non-null    int64
 18  Sumsel     351 non-null    int64
 19  Sumbar     351 non-null    int64
 20  Sulut      351 non-null    int64
 21  Sumut      351 non-null    int64
 22  Sultra     351 non-null    int64
 23  Sulsel     351 non-null    int64
 24  Sulteng    351 non-null    int64
 25  Lampung    351 non-null    int64
 26  Riau       351 non-null    int64
 27  Malut      351 non-null    int64
 28  Maluku     351 non-null    int64
 29  Papbar     351 non-null    int64
 30  Papua      351 non-null    int64
 31  Sulbar     351 non-null    int64
 32  NTT        351 non-null    int64
 33  Gorontalo  351 non-null    int64
dtypes: int64(34)
memory usage: 93.4 KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 351 entries, 0 to 350
Data columns (total 34 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Aceh       351 non-null    int64
 1   Bali       351 non-null    int64
 2   Banten     351 non-null    int64
 3   Babel      351 non-null    int64
 4   Bengkulu   351 non-null    int64
 5   DIY        351 non-null    int64
 6   Jakarta    351 non-null    int64
 7   Jambi      351 non-null    int64
 8   Jabar      351 non-null    int64
 9   Jateng     351 non-null    int64
 10  Jatim      351 non-null    int64
 11  Kalbar     351 non-null    int64
 12  Kaltim     351 non-null    int64
 13  Kalteng    351 non-null    int64
 14  Kalsel     351 non-null    int64
 15  Kaltara    351 non-null    int64
 16  Kep Riau   351 non-null    int64
 17  NTB        351 non-null    int64
 18  Sumsel     351 non-null    int64
 19  Sumbar     351 non-null    int64
 20  Sulut      351 non-null    int64
 21  Sumut      351 non-null    int64
 22  Sultra     351 non-null    int64
 23  Sulsel     351 non-null    int64
 24  Sulteng    351 non-null    int64
 25  Lampung    351 non-null    int64
 26  Riau       351 non-null    int64
 27  Malut      351 non-null    int64
 28  Maluku     351 non-null    int64
 29  Papbar     351 non-null    int64
 30  Papua      351 non-null    int64
 31  Sulbar     351 non-null    int64
 32  NTT        351 non-null    int64
 33  Gorontalo  351 non-null    int64
dtypes: int64(34)
memory usage: 93.4 KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 351 entries, 0 to 350
Data columns (total 34 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Aceh       351 non-null    int64
 1   Bali       351 non-null    int64
 2   Banten     351 non-null    int64
 3   Babel      351 non-null    int64
 4   Bengkulu   351 non-null    int64
 5   DIY        351 non-null    int64
 6   Jakarta    351 non-null    int64
 7   Jambi      351 non-null    int64
 8   Jabar      351 non-null    int64
 9   Jateng     351 non-null    int64
 10  Jatim      351 non-null    int64
 11  Kalbar     351 non-null    int64
 12  Kaltim     351 non-null    int64
 13  Kalteng    351 non-null    int64
 14  Kalsel     351 non-null    int64
 15  Kaltara    351 non-null    int64
 16  Kep Riau   351 non-null    int64
 17  NTB        351 non-null    int64
 18  Sumsel     351 non-null    int64
 19  Sumbar     351 non-null    int64
 20  Sulut      351 non-null    int64
 21  Sumut      351 non-null    int64
 22  Sultra     351 non-null    int64
 23  Sulsel     351 non-null    int64
 24  Sulteng    351 non-null    int64
 25  Lampung    351 non-null    int64
 26  Riau       351 non-null    int64
 27  Malut      351 non-null    int64
 28  Maluku     351 non-null    int64
 29  Papbar     351 non-null    int64
 30  Papua      351 non-null    int64
 31  Sulbar     351 non-null    int64
 32  NTT        351 non-null    int64
 33  Gorontalo  351 non-null    int64
dtypes: int64(34)
memory usage: 93.4 KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 354 entries, 0 to 353
Data columns (total 34 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Aceh       354 non-null    int64
 1   Bali       354 non-null    int64
 2   Banten     354 non-null    int64
 3   Babel      354 non-null    int64
 4   Bengkulu   354 non-null    int64
 5   DIY        354 non-null    int64
 6   Jakarta    354 non-null    int64
 7   Jambi      354 non-null    int64
 8   Jabar      354 non-null    int64
 9   Jateng     354 non-null    int64
 10  Jatim      354 non-null    int64
 11  Kalbar     354 non-null    int64
 12  Kaltim     354 non-null    int64
 13  Kalteng    354 non-null    int64
 14  Kalsel     354 non-null    int64
 15  Kaltara    354 non-null    int64
 16  Kep Riau   354 non-null    int64
 17  NTB        354 non-null    int64
 18  Sumsel     354 non-null    int64
 19  Sumbar     354 non-null    int64
 20  Sulut      354 non-null    int64
 21  Sumut      354 non-null    int64
 22  Sultra     354 non-null    int64
 23  Sulsel     354 non-null    int64
 24  Sulteng    354 non-null    int64
 25  Lampung    354 non-null    int64
 26  Riau       354 non-null    int64
 27  Malut      354 non-null    int64
 28  Maluku     354 non-null    int64
 29  Papbar     354 non-null    int64
 30  Papua      354 non-null    int64
 31  Sulbar     354 non-null    int64
 32  NTT        354 non-null    int64
 33  Gorontalo  354 non-null    int64
dtypes: int64(34)
memory usage: 94.2 KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 354 entries, 0 to 353
Data columns (total 34 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Aceh       354 non-null    int64
 1   Bali       354 non-null    int64
 2   Banten     354 non-null    int64
 3   Babel      354 non-null    int64
 4   Bengkulu   354 non-null    int64
 5   DIY        354 non-null    int64
 6   Jakarta    354 non-null    int64
 7   Jambi      354 non-null    int64
 8   Jabar      354 non-null    int64
 9   Jateng     354 non-null    int64
 10  Jatim      354 non-null    int64
 11  Kalbar     354 non-null    int64
 12  Kaltim     354 non-null    int64
 13  Kalteng    354 non-null    int64
 14  Kalsel     354 non-null    int64
 15  Kaltara    354 non-null    int64
 16  Kep Riau   354 non-null    int64
 17  NTB        354 non-null    int64
 18  Sumsel     354 non-null    int64
 19  Sumbar     354 non-null    int64
 20  Sulut      354 non-null    int64
 21  Sumut      354 non-null    int64
 22  Sultra     354 non-null    int64
 23  Sulsel     354 non-null    int64
 24  Sulteng    354 non-null    int64
 25  Lampung    354 non-null    int64
 26  Riau       354 non-null    int64
 27  Malut      354 non-null    int64
 28  Maluku     354 non-null    int64
 29  Papbar     354 non-null    int64
 30  Papua      354 non-null    int64
 31  Sulbar     354 non-null    int64
 32  NTT        354 non-null    int64
 33  Gorontalo  354 non-null    int64
dtypes: int64(34)
memory usage: 94.2 KB

## Feature Engineering
We want to make daily zone clustering using k-Means thus we decided to choose 2 feature cured daily rated and death daily rated for easier visualization.


$\ \text{daily cured rate} = \frac{\text{daily cured}}{\text{active case}} $

$\ \text{daily death rate} = \frac{\text{daily death}}{\text{active case}} $

In [51]:
# df_features = pd.DataFrame()
df_daily_cured_rate = df_categories['Sembuh Harian'].tail(1) / df_categories['Kasus Aktif'].tail(1)
df_daily_death_rate = df_categories['Meninggal Dunia Harian'].tail(1) / df_categories['Kasus Aktif'].tail(1)

In [54]:
#concat dataframe
frames = [df_daily_cured_rate,df_daily_death_rate]
df_features = pd.concat(frames)
df_features = df_features.reset_index()
del df_features['index']

In [58]:
# rename columns for clearer dataframe
df_features = df_features.rename(index={0 : 'daily_cured_rate' , 1 : 'daily_death_rate'})

#transpose df_features
df_features = df_features.transpose()

# normalization using min max scalar value-min/max-min
df_features = ( df_features - df_features.min() ) / ( df_features.max() - df_features.min() )